@media screen and (max-width: 600px){
    .space {
        height: 50px !important;
    }

    .mob-space {
        height: 60px !important;
        margin: 0px !important;
    }

    .home {
        margin: 0px auto 50px auto !important;
        display: block !important;
        /* width: 260px; */
    }

    .home-up {
        margin: auto !important;
        width: 100% !important;
        margin-bottom: 40px !important;
        text-align: center;
    }
    .home-down {
        margin: auto !important;
        width: 400px !important;
        text-align: center;
    }

    .home button {
        margin: 0px !important;
        font-size: 17px !important;
        width: 180px !important;
        height: 40px !important;
        margin-top: 30px !important;
        background: rgb(0, 123, 255) !important;
    }


    .home h1 {
        font-size: 40px !important;
        width: 260px !important;

    }

    .home p {
        width: 250px !important;
        font-size: 20px !important;
        text-align: center !important;
    }

    .home-down p {
        width: 360px !important;
    }

    .nav {
        width: 98% !important;
        margin-bottom: 60px !important;
        padding: 15px 0px 15px 10px !important;

    }

    .nav-link {
        padding: 0px !important;
    }

    nav a {
        font-size: 20px !important;
        margin: 40px !important;
    }

    .container {
        width: 360px !important;
        height: auto;
        text-align: center !important;
        display: block !important;
        margin: auto;
    }

    .container-element {
        display: flex;
        margin-bottom: 12px !important;
    }

    .container-links {
        height: 30px;
    }

    .info-card {
        width: 360px !important;
        margin: auto;
    }

    .info-card h1, .info-card p {
        width: 300px !important;
        margin: auto;
    }

    .info-card h1 {
        font-size: 30px !important;
        margin-bottom: 40px !important;
    }

    .info-card p {
        font-size: 20px !important;
    }

    .container-links a {
        font-size: 25px !important;
    }

    .About {
        width: 360px;
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: center !important;
    }

    .about-about {
        width: 360px !important;
        margin: 10px 25px 10px 35px !important;
        text-align: center;
    }

    .about-projects {
        margin: 10px 25px 10px 10px !important;
    }
    .about-social-skills {
        margin-left: 25px !important;
        margin: 10px !important;
    }

    .info-card {
        margin: 5px auto !important;
    }

    .blog {
        width: 340px !important;
    }

    .blog-description {
        width: 280px !important;
        height: auto !important;
        margin: 10px auto !important;
    }


    .project {
        margin: auto;
        width: 320px !important;
        height: auto !important;
        text-align: center;
    }
    .project h1 , .project p {
        width: 300px !important;
        margin: 5px !important;
    }
    a.project {
        width: 320px;
        text-align: center !important;
    }

    .proj {
        width: 360px !important;
    }

    div.project {
        border-radius: 30px !important;
    }

    .contact  {
    height: auto;
    width: 350px !important;
    margin: auto auto 150px auto;
    background: #2f2f2f;
    border-radius: 15px;
    }

    .contact h1, .contact p {
    font-size: 26px !important;
    }

    .input {
        width: 240px !important;
        height: 30px;
        font-size: 15px;
    }

    div.input {
        margin: 25px;
        margin-left: auto;
        margin-right: auto;
    }


    .input-message {
        width: 240px !important;
        font-size: 20px;
        height: 120px;
        resize: none;
    }

    .submit-btn {
        width: 240px !important;
        height: 50px;
        font-size: 25px;
    }


    .Contact {
        width: 340px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: center !important;
    }

    .Blog {
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: center !important;
        width: 340px !important;
    }

}


html{

    scroll-behavior: smooth;

    }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202020;
    overflow-x: hidden;
}


.left, .center, .right {
    flex: 1;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

div.home {
    text-align: right;
    margin: 0 auto 200px auto;
    display: flex;
}

.home-up {
    text-align: center;
    width: 1000px;
    margin-left: 100px;
    margin-right: 100px;
}

.home-down {
    text-align: center;
    margin: auto 0 auto 0
}

.home h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 16px rgba(255, 255, 255, 0.9);
    font-size: 140px;
}

.home p {
    font-size: 25px;
    width: 500px;
    color: white;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.home button {
    margin: 20px;
    font-size: 20px;
    color: white;
    width: 225px;
    height: 60px;
    border-radius: 45px;
    background: #2f2f2f;
    border: #202020;
    transition: transform 0.5s ease-in-out;
}

.home button:hover {
    transform: scale(1.1);
    background: white;
    color: #2f2f2f;
    cursor:pointer;
}

.home button:active {
    background: rgb(0, 123, 247);
    color: #ffffff;
}

.container {
    width: 1000px;
    margin: auto auto 150px auto;
    background: #2f2f2f;
    border-radius: 15px;
}

.container a {
    background: none;
    border: none;
    font-size: 20px;
    color:white;
}

.info-link {
    text-decoration: none;
    cursor: pointer;
    transition: font-size 0.5s ease-in-out, text-shadow 0.3s ease-in-out;
    width: 29px;
}

.info-link-active {
    text-shadow: 0px 0px 8px;
    font-size: 25px !important;
}


.info-card {
    color: white;
    width: 1000px;
    text-align: center;
}

.info-card p {
    font-size: 20px;
    width: 800px;
    margin: auto;
}

.hidden {
    display: none;
    transition: 1s;
}

.card {
    text-align: center;
    width: 120px
}

a.project{
    text-decoration: none !important;
}

.proj {
    width: 500px;
    text-align: center;
    margin: 20px auto;
}

div.project{
    height: auto;
    width: 500px;
    margin: 30px auto;
    text-align: center;
    background: #3f3f3f;
    border-radius: 15px;
    text-decoration: none !important;
}

.project h1, .project p {
    margin: auto;
    width: 400px;
}

.project h1 {
    font-size: 20px;
}

.blog {
    height: auto;
    width: 1000px;
    margin: auto auto 150px auto;
    background: #2f2f2f;
    border-radius: 15px;
}

.blog-description {
    width: 480px;
    height: auto;
    margin: 10px auto;
}

.contact {
    height: auto;
    width: 1000px;
    margin: auto auto 150px auto;
    background: #2f2f2f;
    border-radius: 15px;
}


nav {
    background-color: #2f2f2f;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
nav a {
    text-decoration: none;
    color: white;
    font-size: 40px;
    margin: 100px;
}

nav .active-link {
    color: rgb(0, 123, 247);
    text-shadow: 0px 0px 16px;
    text-decoration: none;
}

.nav-link {
    cursor: pointer;
    transition: text-shadow 0.5s;
}

.nav-link:hover {
    text-shadow: 0 0 15px;
}

.input {
    width: 400px;
    height: 40px;
    font-size: 20px;
    border-radius: 15px;
    text-align: center;
}

div.input {
    margin: 25px;
    margin-left: auto;
    margin-right: auto;
}

.input-message {
    border-radius: 15px;
    width: 400px;
    text-align: center;
    font-size: 20px;
    height: 200px;
    resize: none;
}

.submit-btn {
    background: rgb(0, 157, 255);
    width: 400px;
    height: 50px;
    color: white;
    border-radius: 20px;
    font-size: 25px;
}

img {
    max-width: 100%;
    height: auto;
}


/* Animations */
.fade-in-up {
    opacity: 0;
    transform: translateY(80px);
    transition: opacity 2s ease-out, transform 2s ease-out !important;
}

.fade-in-up.visible {
    opacity: 1;
    transform: translateY(0);
}

.fade-in-right {
    opacity: 0;
    transform: translateX(160px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.fade-in-right.visible {
    opacity: 1;
    transform: translateX(0);
}

.fade-in-down {
    opacity: 0;
    transform: translateY(-160px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.fade-in-down.visible {
    opacity: 1;
    transform: translateY(0);
}

.fade-in-left {
    opacity: 0;
    transform: translateX(-160px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.fade-in-left.visible {
    opacity: 1;
    transform: translateX(0);
}