{% extends 'base.html' %}

{% block title %}
    <title>Portfolio</title>
{% endblock %}

{% block content %}

    <div class="home">
        <!-- <img src="../static/code.png" class="fade-in"> -->
        
        <div style="text-align: center; width: 1000px; margin-left: 100px; margin-right: 100px;">
            <h1 class="fade-in-left" style="margin: 0; margin-right: 20px;">Hello, I am<br></h1>
            <h1 class="fade-in-up" style="margin: 0;">Rauf Asadov</h1>
        </div>
        <div style="text-align: center; margin: auto 0 auto 0">
            <p class="fade-in-right">
                I study at ADA university in Computer Science major. Before getting to university,
                I worked and still work on different projects in Python. I have worked on Data scraping, Back-end development, Scripting, Automation, Machine Learning and Neural Networks.
                Since I got to university, I also started learning C++ and Java. 
            </p>
            <div class="fade-in-left">
                <a href="#contact">
                    <button>
                        Get In Touch
                    </button>
                </a>
            </div>
        </div>
        
    </div>
    <div class="container">
        <div class="container-element">
            <div style="margin: 50px auto 20px 30px;">
            <a href="#" class="info-link" data-info="Experience">
                    Interest
                </a>
            </div><br>
            <div style="margin: 20px auto 20px 30px;">
                <a class="info-link" data-info="Projects">
                    Projects
                </a>
            </div><br>
            <div style="margin: 20px auto 50px 30px;">
            <a class="info-link" data-info="Studying">
                    Studying
                </a>
            </div>
        </div>
        <div class="container-element">
        </div>
    </div>
    <nav class="nav">
        <div class="left">
            <a href="#">About</a>
        </div>
        <div class="center">
            <a href="#">Blog</a>
        </div>
        <div class="right">
            <a href="#">Contact</a>
        </div>
    </nav>
    
{% endblock %}
