{% extends 'base.html' %}

{% block title %}
    <title>Portfolio</title>
{% endblock %}

{% block content %}
<div class="space" style="height: 200px;"></div>
<div class="home">
    <!-- <img src="../static/code.png" class="fade-in"> -->
    <div class="home-up">
            <div class="mob-space">
            </div>
            <h1 class="fade-in-left" style="margin: 0 auto;">Hello, I am<br></h1>
            <h1 class="fade-in-up" style="margin: 0 auto;">Rauf Asadov</h1>
        </div>
        <div class="home-down">
            <p class="fade-in-right">
                I study at ADA university in Computer Science major. Before getting to university,
                I worked and still work on different projects in Python. I have worked on Data scraping, Back-end development, Scripting, Automation, Machine Learning and Neural Networks.
                Since I got to university, I also started learning C++ and Java. 
            </p>
            <div class="fade-in-left">
                <a href="#link-for-nav-3" class="nav-link" data-nav="nav-3">
                    <button>
                        Get In Touch
                    </button>
                </a>
            </div>
        </div>
        
    </div>
    <nav class="nav">
        <div class="left">
            <a class="nav-link active-link" data-nav="nav-1">
                    About
            </a>
        </div>
        <div class="center">
            <a class="nav-link" data-nav="nav-2">
                    Blog
            </a>
        </div>
        <div class="right">
            <a class="nav-link" data-nav="nav-3">
                    Contact
            </a>
        </div>
    </nav>

    <div class="About page-item fade-in-up" id="nav-1">
        <div class="container">
            <div style="height: 20px;"></div>
            <div class="info-card">
                <h1>Experience</h1>
                <p>With an extensive background in Python development, I bring a wealth of experience in creating versatile applications tailored for both academic exploration and business functionality.<br><br>
                        My primary expertise lies in Automation and Web Development, where I've played a pivotal role in crafting innovative solutions that seamlessly blend technical precision with practical applications.<br><br>
                        In summary, my journey in Python development has been characterized by a rich tapestry of experiences spanning Automation, Web Development, and Data-driven solutions.<br><br>
                        From creating impactful applications to contributing to the advancement of technological landscapes, I am committed to pushing the boundaries of what is possible in the world of software development.<br><br>
                </p>
            </div>
            <div style="height: 20px;"></div>
        </div>
        <div class="container fade-in-up">
            <div style="height: 20px;"></div>
            <div class="info-card">
                <h1>Projects</h1>
                {% if amount_of_projects == 0 %}
                <div style="text-align: center; height: auto; color: white;">
                    <div style="height: 20px;"></div>
                        <h1>There are no Projects at the current moment</h1>
                    <div style="height: 20px;"></div>
                </div>
                {% else %}
                {% for i in projects %}
                <a href="{{ i.link }}" class="project">
                    <div class="proj">
                        <div class="project" style="margin: auto !important;">
                            <div style="height: 20px;"></div>
                            <h1>{{ i.title }}</h1>
                            <p>{{ i.text }}</p>
                            <div style="height: 20px;"></div>
                        </div>
                    </div>
                </a>
                {% endfor %}
                {% endif %}
            </div>
            <div style="height: 20px;"></div>
        </div>
        <div class="container fade-in-up">
            <div class="info-card">
                <div style="height: 20px;"></div>
                <h1>Social Skills</h1>
                <p>As a dedicated software engineer, I recognize the profound impact that effective social skills can have on the success of collaborative projects.<br><br>
                        I take pride in my ability to communicate complex technical concepts in a clear and accessible manner, fostering a shared understanding among team members.<br><br>
                        In essence, my social skills serve as a bridge between the technical complexities of software development and the diverse individuals involved in our projects.<br><br>
                        By combining technical expertise with effective communication, collaboration, and empathy, I contribute not only to the success of our projects but also to the positive and inclusive culture of our team.<br><br>
                </p>
                <div style="height: 20px;"></div>
            </div>
        </div>
    </div>

    <!-- Blog -->
    <div class="Blog page-item fade-in-up hidden" id="nav-2">
        {% if amount_of_articles == 0 %}
        <div class="blog">
            <div style="text-align: center; height: auto; color: white;">
                <div style="height: 20px;"></div>
                <h1>Blog is empty at current moment</h1>
                <div style="height: 20px;"></div>
            </div>
        </div>

        {% else %}
        {% for i in blog %}
        <div class="blog" style="color: white;  max-width: 1000px; text-align: center;">
            <div style="height: 20px;"></div>
            <h1>{{ i.title }}</h1>
            <p style="width: 480px !important; height: auto !important; margin: 10px auto !important;">{{ i.text }}</p>
            <div style="height: 1px;"></div>
            <div style="height: 20px;"></div>
            <div>
        </div>

        {% endfor %}
        {% endif %}
    </div>


    <!-- Contact -->
    <div class="Contact page-item fade-in-up hidden" id="nav-3">
        <div class="contact" id="link-for-nav-3">
            <div style="height: 20px;"></div>
            <div class="container-element">
                <div style="text-align: center; height: auto; color: white; margin-left: auto; margin-right: auto;">
                    <form method="POST" class="form-create" style="color: white;">
                    {{ form.hidden_tag() }}
                    <h1>Contact Form</h1>
                    <p>Feel free to reach out to me by filling this form:</p>
                    <div class="input">
                        {{ form.name(class="input", placeholder="Name") }}
                    </div>
                    <div class="input">
                        {{ form.surname(class="input", placeholder="Surname") }}
                    </div>
                    <div class="input">
                        {{ form.email(class="input", placeholder="Email") }}
                    </div>
                    <div class="input" style="height: 230px;">
                        <textarea name="message" class="input-message"  placeholder="Message"></textarea>
                    </div>
                    <div>
                        {{ form.submit(class="submit-btn") }}
                    </div>
                    </form>
                    <p>I look forward to connecting with you!</p>
                </div>
            </div>
            <div style="height: 20px;"></div>
        </div>
    </div>
    

    <script src="../static/script.js"></script>
    
{% endblock %}
